{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Car-sale</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/123.css' %}">
  </head>
<body>
  <div class="page-header">
    {% if user.is_authenticated %}
    <a href="{% url 'main_page' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
{% endif %}
    <h1><a href="/">Cars</a></h1>
</div>
    <div class="pos-f-t">
        <div class="collapse" id="navbarToggleExternalContent">
          <div class="bg-dark p-4">
            <h4 class="text-white">Collapsed content</h4>
            <span class="text-muted">Toggleable via the navbar brand.</span>
          </div>
        </div>
      </div>

    <div class="container">
        <div class="row">
            <div class="col-8 m-auto">
                {% block car_list %}
                {% endblock %}

                {% block car_add %}
                {% endblock %}

                {% block thank_you %}
                {% endblock %}
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <script src="{% static 'js/jquery.dynatable.js' %}"></script>
    <script src="{% static 'js/main_js.js' %}"></script>
</body>

<footer class="bg-dark text-center text-white">
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-12 col-md-0 mb-0 mb-md-0">
          <h5 class="text-uppercase">Об авторе</h5>

          <ul class="list-unstyled mb-3">
            <li>
              <a href="#!" class="text-white">Почта - isakov_i@iuca.kg</a>
            </li>
            <li>
              <a href="#!" class="text-white">Номер +996755-233-232</a>
            </li>
          </ul>
        </div>
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    <a class="text-white" href="">Car Sale</a>
  </div>
</footer>
</html>